<!--CARD DISPLAYING TOOL INFORMATION AND A PURCHASE BUTTON-->

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Tool Card</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Tool</strong>: {{example.tool}}</p>
          <p>
            <strong>Category</strong>: {{example.category}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p>

          <p>
            <strong>Price:</strong> {{example.price}}</p>
          <p>
            <strong>Quantity:</strong> {{example.quantity}}</p>
          <p>
            <strong>Owner:</strong> {{example.owner}}</p>

            <a href="/">← Cancel Purchase</a>

      <!--  submit button creates a receipt (card or prompt)   -->
            <button id="submit" class="btn btn-primary float-right">Purchase Tool</button>
        </div>
      </div>
    </div>
  </div>
</div>